# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
*.venv

# Model files (agar bahut bade hain aur Git LFS use nahi kar rahe)
# *.h5
# *.keras

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
